<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Add a comment</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js" ></script>
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="css/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="background_container">
        <div id="main_container">
            <div id="form_container">
                <form>
                    <i class="fas fa-camera"></i>
                    <h1><%= title %></h1>

                    <h2>Add a comment</h2>

                    <div id="alert_container">
                      <img src="images/check.gif" width="50" />
                      <p>Your comment has been added. You will see it on the slideshow soon.</p>
                    </div>
                    
                    <div id="form_comment_container">
                      <input type="text" class="inputText" id="pseudo" placeholder="Your username"/>

                      <textarea id="comment" class="inputText" placeholder="Your message"></textarea>
                      
                      <button id="btnNewComment" class="btnBlock" disabled><span>Send your comment</span></button>
                    </div>
                    
                    <a href=".." id="goBackLink">Go to home page</a>

                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-confirm.min.js" ></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/addComment.js" ></script>
  </body>
</html>

