<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title><%= title %> - Admin Dashboad</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js" ></script>
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="css/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <i class="fas fa-camera"></i>
    <h1><%= title %></h1>
    <p>Nombre de clients total : <span id="nbClient">0</span></p>

    <div id="comment_container">

    </div>

    <script type="text/javascript" src="js/jquery-confirm.min.js" ></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/admin.js" ></script>
  </body>
</html>

