<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>PhotoBox</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js" ></script>
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="css/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="background_container">
        <div id="main_container">
            <div id="form_container">
                <form>
                    <i class="fas fa-camera"></i>
                    <h1>PhotoBox</h1>
                    <div id="input_container">
                        <input type="file" name="file" class="imputfile" id="fileInput" accept='image/*' />
                        <label for="fileInput">
                            <span>Choisir une image</span>
                        </label>

                        <button type="button" id="btnAddComment"><span>Envoyer un message</span></button>
                    </div>

                    <div id="imageSet_container">
                        <div id="preview_container">
                            <img id="imageToUpload" />
                            <a id="changeImg">Changer d'image</a>
                        </div>

                        <button type="submit" id="btnValid"><span>Envoyer l'image</span></button>
                    </div>

                    <div id="loader"></div>

                    <div id="uploadOk">
                        <div id="alert_container" style="">
                            <img src="images/check.gif" width="50">
                            <p>Votre image a bien été envoyée sur le PhotoBox. Veuillez patienter quelques instants et vous pourrez la voir à l'écran.</p>
                        </div>
                        <a id="newImg">Envoyer une nouvelle image</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-confirm.min.js" ></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/main.js" ></script>
  </body>
</html>
